<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container px-4 px-lg-5">
    Copyright &copy; {{ .Name }} {{ now.Format "2006"}}
  </div>
  <br />
  <p style="width: 80%; margin-right: auto; margin-left: auto">
    EVE Online and the EVE logo are the registered trademarks of CCP hf. All
    rights are reserved worldwide. All other trademarks are the property of
    their respective owners. EVE Online, the EVE logo, EVE and all associated
    logos and designs are the intellectual property of CCP hf. All artwork,
    screenshots, characters, vehicles, storylines, world facts or other
    recognizable features of the intellectual property relating to these
    trademarks are likewise the intellectual property of CCP hf. CCP hf. has
    granted permission to EVE Tycoon to use EVE Online and all associated logos
    and designs for promotional and information purposes on its website but does
    not endorse, and is not in any way affiliated with, EVE Tycoon. CCP is in no
    way responsible for the content on or functioning of this website, nor can
    it be liable for any damage arising from the use of this website.
  </p>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
